html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Georgia';
  src: url(fonts/georgia-italic.ttf);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  height: 100px;
  border-bottom: 1px solid lightgrey;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 350px;
  font-size: 12px;
}

.menu-item {
  color:  #a7a7a7;
  text-transform: uppercase;
  text-decoration: none;
}

.clouds {
  background-image: url('images/cloud.png');
  height: 500px;
  background-size: cover;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.title{
  text-align: center;
}

.header-text{
  width: 400px;
  margin: 32px 39px;  
  font-family: 'Roboto Condensed';
  color:#303030;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-content{
  margin: 32px 0;    
  font-family: 'Georgia';
  color:#5a5a5a;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.scroll-down {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.galery{
  background-color: white;   
  padding-left: 60px;
  padding-bottom: 70px;
}
.galery, .team, .contact, .footer{
  border: 1px solid rgba(211, 211, 211, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;  
}

.galery-text, .team-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.header-galery, .header-team, .header-contact{
  margin-top: 49px;
  margin-bottom: 18px;
  font-family: 'Roboto Condensed';
  color:#303030;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.content-galery, .content-team{
  width: 500px;
  margin-top: 32px;
  font-family: 'Georgia';
  color:#5a5a5a;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.galery-images, .galery-people{
 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.grid-image{
 text-align: center;
 margin: 15px 0;
  flex-basis: 33%;
}

.team{
  background-color: rgb(243, 243, 243);
}
.view1{
  margin-top: 58px;
  margin-bottom: 80px;
  height: 210px;
  display: flex;
  padding-top: 19px;
  background-color:#ffffff;
  box-shadow: 1px 2px 4px 0px rgba(0, 1, 1, 0.2);
  width: 210px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.people-photo{
  width: 80px;
  height: 80px;
}
.people-name{
  height: 13px;
  margin-top: 16px;
  margin-bottom: 0;
  font-family: 'Roboto Condensed';
  color:#303030;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.people-position{
  height: 13px;
  margin-top: 13px;
  color:#303030;
  font-size: 12px;
  font-style: italic;
  text-transform: capitalize;
}
.links{
  height: 12px;
  width: 54px;
  margin-top: 20px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.links3{
  height: 12px;
  width: 90px;
  margin-top: 20px;
  margin-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.contact{
  background: rgb(255, 255, 255);
}
.contact-content{
  margin-bottom: 73px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
}

.located, .contact-us{
  margin-right: 40px;
  margin-top: 42px;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
}

.map-img{
  width: 328px;
  height: 328px;
}

.text-contact{
  margin-bottom: 27px;
  height: 11px;
  font-family: 'Georgia';
  color:#5a5a5a;
  font-size: 16px;
  font-weight: 400;
}
.leave-message{
  width: 540px;
  height: 235px;
  border-style: solid;
  border-width: 1px rgba(0, 0, 0, 0.15);
  background-color:#f2f2f2;
}
.email-input{
  border-style: solid;
  border-width: 1px rgba(0, 0, 0, 0.15);
  background-color:#f3f3f3;
  width: 312px;
  height: 60px;
}

.main-form-button{
  border-style: solid;
  border-width: 2px  #ffffff;
  background-color:
  #6995a9;
  box-shadow: 1px 2px 10px 0px rgba(0, 1, 1, 0.25);
  width: 205px;
  height: 60px;  
  font-family: 'Roboto Condensed';
  color:#ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.email-button{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.footer{
  height: 80px;
  background-color: rgb(77, 77, 77);
  font-family: 'Georgia';
  color:#949494;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

